<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ sec_num }}
<p>Guess 4 numbers. Enter them separated with spaces:</p>
        <form method="POST" action="">
            <label>
                {% csrf_token %}
                <input type="text"
                       name="user_num"/>
            </label>
            <input type="submit" value="Send"/>
        </form>
<br>

{{ error }}
{{ res }}

<a href="/history">History</a>
</body>
</html>